{% extends 'home/base.html' %}

{% block body %}

{% include 'home/navbar.html' %}

  <br><h3 class="text-center">Vos critiques</h3><br>
  <form>
  {% for review in object_list %}
  <div class="form-group">
    <div class="row">
      <div class="col">{{ review.ticket.title }}</div>
      <div class="col">{{ review.ticket.user.username }}</div>
      <div class="col">{{ review.rating }}</div>
      <div class="col">{{ review.time_created }}</div>
      <div class="col text-right"><a href="{% url 'flux:review-detail' review.id  %}"><button type="button" class="btn-secondary" formnovalidate>Consulter</button></a></div>
    </div>
  </div>
  </form>
  {% endfor %}

{% endblock %}
