{% extends 'home/base.html' %}

{% block body %}

{% include 'home/navbar.html' %}


{% for message in messages %}
  {% if message.level == DEFAULT_MESSAGE_LEVELS.INFO %}
    <div class="alert alert-danger">{{message|escape}}</div>
  {% endif %}
  {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
    <div class="alert alert-success">{{message|escape}}</div>
  {% endif %}
{% endfor %}

<div class="container">
  <div class="row">
    <div class="col text-center align-self-center">
      <h2>Créer une critique</h2>
      <br>
    </div>
    <div class="row">
      <div class="col align-self-left">
        <form action="{% url 'flux:review-add' %}" method="post" enctype="multipart/form-data">
          {% csrf_token %}
          <div class="custom-fieldset-container">
            <fieldset name="ticket">
              <legend>Livre/Article</legend>
              {% include 'flux/ticket_form_fields.html' %}
             </fieldset>
           </div>
           <div class="custom-fieldset-container">
             <fieldset name="review" class="custom-fieldset">
               <legend>Critique</legend>
               {% include 'flux/review_form_fields.html' %}
              </fieldset>
            </div>
            <div class="form-group text-right">
              <a href="{% url 'flux:index' %}"><button type="button" class="btn btn-primary" formnovalidate>Abandonner</button></a>
              <button type="submit" class="btn btn-primary">Envoyer</button>
            </div>
        </form>
      </div>
    </div>
  </div>
</div>
{% if review_form.errors %}
    {% for error in review_form.errors %}
    <p>{{ error }}</p>
    {% endfor %}
    {% for field in review_form %}
        {% for error in field.errors %}
            <div class="alert alert-danger">
                <strong>{{ error|escape }}</strong>
            </div>
        {% endfor %}
    {% endfor %}
    {% for error in review_form.non_field_errors %}
        <div class="alert alert-danger">
            <strong>{{ error|escape }}</strong>
        </div>
    {% endfor %}
{% endif %}

{% endblock %}
