<label for="title">Titre</label><br>
<div class="form-group">
  <input type="text" class="form-control" name="title" id="title" required minlength="1" maxlength="128" size="128">
</div>
<label for="description">Description</label><br>
<div class="form-group">
  <textarea class="form-control" name="description" id="description" maxlength="2048" rows="8"></textarea>
</div>
<label for="image">Image</label><br>
<div class="form-group">
  <input type="file" name="image" id="image" accept="image/png, image/jpeg">
</div>
