{% extends 'home/base.html' %}

{% block body %}

{% include 'home/navbar.html' %}


  <br><h3 class="text-center">Vos tickets</h3><br>
  <form>
  {% for ticket in object_list %}
  <div class="form-group">
    <div class="row">
      <div class="col">{{ ticket.title }}</div>
      <div class="col">{{ ticket.time_created }}</div>
      <div class="col text-right"><a href="{% url 'flux:ticket-detail' ticket.id  %}"><button type="button" class="btn-secondary" formnovalidate>Consulter</button></a></div>
    </div>
  </div>
  </form>
  {% endfor %}

{% endblock %}
