{% extends 'home/base.html' %}

{% block body %}

{% include 'home/navbar.html' %}

<br><h3 class="text-center">Suivre d'autres utilisateurs</h3><br>

<form class="form-horizontal" id="user_follows" action="{% url 'abonnements:create' %}" method="post" novalidate>
  {% csrf_token %}
  <div class="form-group form-group-lg">
    <div class="row">
      <div class="col-sm-10 align-self-center">
        <input type="search" id="search_user" class="form-control" placeholder="Rechercher un utilisateur à suivre">
        <div id="search_user_box" style="display:none;">
          {% for user in list_of_other_users %}
            <div id="{{ user.id }}" class="search_user_item">{{ user.username}}</div>
          {% endfor %}
        </div>
      </div>
      <div class="col-sm-2 text-center">
        <button type="submit" class="btn btn-primary">Envoyer</button>
      </div>
    </div>
  </div>
  <input id="followed_user_id" name="followed_user_id" type="hidden" value=""><br>
</form>

{% block scripts %}
<script>
  const data = '{{ users_json }}'
  const parsed_data = JSON.parse(data.replace(/&quot;/g,'"'))
  const input = document.getElementById('search_user')
  const form = document.getElementById('user_follows')
  form.elements["followed_user_id"].value = ""
  let error = document.querySelector('.error')
  let filteredArr = []

  const feedInput = function (id, username) {
      console.log("feedInput");
      form.elements["followed_user_id"].value = id;
      input.value = username;
  }
/*
  document.querySelectorAll('.search_user_item').forEach(item => {
    item.addEventListener('click', (event) => {
      console.log(event.target);
      console.log("click");
    });
    console.log(item);
  });
*/

  input.addEventListener('keyup', (event) => {
    search_user_box.style.display = "block"
    search_user_box.innerHTML = ""
    filteredArr = parsed_data.filter(user => user['username'].startsWith(event.target.value))
    if (filteredArr.length > 1) {
      filteredArr.map(user => {
        search_user_box.innerHTML += `<div id="${user['id']}" class="search_user_item">${user['username']}</div>`
      })
    } else if (filteredArr.length == 1) {
        filteredArr.map(user => {
          search_user_box.innerHTML += `<div id="${user['id']}" class="search_user_item">${user['username']}</div>`
          input.value = user['username']
          form.elements["followed_user_id"].value = user['id']
        })
    } else {
        search_user_box.innerHTML = 'Aucun utilisateur trouvé'
    }
    document.querySelectorAll('.search_user_item').forEach(item => {
      item.addEventListener('over', (event) => {
        //console.log(event.target)
        //console.log("click")
        //click_event.preventDefault()
        let x = event.target
        form.elements["followed_user_id"].value = x.id
        input.value = x.username
      });
      //console.log(item)
    });

  });

  input.addEventListener('focus', (event) => {
    search_user_box.style.display = "block"
    //document.querySelectorAll('.search_user_item').forEach(item => {
     //  item.addEventListener('click', (click_event) => {
    //    click_event.preventDefault()
   //     let x = click_event.target
    //   form.elements["followed_user_id"].value = x.id
  //     input.value = x.username
  //    });
  //    });
    //document.querySelectorAll('.search_user_item').forEach(item => {
    //  item.addEventListener('click', event => {
    //      console.log("click")
    //  })
    //  console.log(item)
    //})
    document.querySelectorAll('.search_user_item').forEach(a => {
      a.addEventListener('over', feedInput(a.id, a.innerText))
    });
  });
  input.addEventListener('blur', (event) => {
    search_user_box.style.display = "none"
    //document.querySelectorAll('.search_user_item').forEach(a => {
    //  a.removeEventListener('click', feedInput("", ""));
    //})

  });

  //document.querySelectorAll('.search_user_item').forEach(a => {
  //  a.addEventListener('click', feedInput(a.id, a.innerText));
 //});



  form.addEventListener("submit", function (event) {
    // Chaque fois que l'utilisateur tente d'envoyer les données
    // on vérifie que le champ followed_user_id est valide.
    if (form.elements["followed_user_id"].value == "") {

      // S'il est invalide, on affiche un message d'erreur personnalisé
      let followed_user = parsed_data.filter(user => user['username'] == input.value)[0]
      form.elements["followed_user_id"].value = followed_user['id']
    }
  }, false);


  document.querySelectorAll('.search_user_item').forEach(item => {
    item.addEventListener('over', (event) => {
      //event.preventDefault()
      console.log(event.target)
      console.log("click")
      let x = event.target
      form.elements["followed_user_id"].value = x.id
      input.value = x.username
    });
    console.log(item)
  });




</script>
{% endblock scripts %}

{% for message in messages %}
  {% if message.level == DEFAULT_MESSAGE_LEVELS.INFO %}
    <div class="alert alert-danger text-center">{{message|escape}}</div>
  {% endif %}
  {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
    <div class="alert alert-success text-center">{{message|escape}}</div>
  {% endif %}
{% endfor %}

<br><h3 class="text-center">Abonnements</h3><br>
{% if list_of_following %}
  <table class="table table-bordered table-hover">
      <tbody>
        {% for user_follow in list_of_following %}
          <tr>
            <td class="col-10">{{ user_follow.followed_user.username  }}</td>
            <td class="col-2 text-center">
              <a href="{% url 'abonnements:delete' user_follow.followed_user.id  %}">
                <button type="button" class="btn-secondary" formnovalidate>Désabonner</button>
              </a>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
{% else %}
  <div class="alert alert-info text-center">Vous n'avez pas d'abonnements</div>
{% endif %}

<br><h3 class="text-center">Abonnés</h3><br>
{% if list_of_followed_by %}
  <table class="table table-bordered table-hover">
      <tbody>
  {% for user_follow in list_of_followed_by %}
    <tr>
      <td>{{ user_follow.user.username }}</td>
    </tr>
  {% endfor %}
    </tbody>
  </table>
{% else %}
  <div class="alert alert-info text-center">Vous n'avez pas d'abonnés</div>
{% endif %}

{% endblock %}
