{% extends 'home/base.html' %}

{% block body %}

<div class="row">
  <div class="col text-center">
  <h2>Inscrivez-vous</h2>
  <br>
  <form action="" method="post">
    {% csrf_token %}
    <div class="form-group">
      <input type="text" class="form-control text-center" name="username" placeholder="Nom d'utilisateur" required
      {% if form.username.value %}
        value="{{ form.username.value }}"
      {% endif %}
      >
    </div>
    <br>
    <div class="form-group">
      <input type="email" class="form-control text-center" name="email" placeholder="Email"
      {% if form.email.value %}
        value="{{ form.email.value }}"
      {% endif %}
      >
    </div>
    <br>
    <div class="form-group">
      <input type="password" class="form-control text-center" name="password1" placeholder="Mot de passe" required aria-describedby="passwordHelpBlock"
      {% if form.password1.value %}
        value="{{ form.password1.value }}"
      {% endif %}
      >
      <small id="passwordHelpBlock" class="form-text text-muted">
        Votre mot de passe doit faire entre 8 et 20 caractères de longueur, contenir des lettres et des chiffres, mais pas d'espaces, de caractères spéciaux ou emoji.
      </small>
    </div>
    <br>
    <div class="form-group">
      <input type="password" class="form-control text-center" name="password2" placeholder="Confirmer votre mot de passe" required
      {% if form.password2.value %}
        value="{{ form.password2.value }}"
      {% endif %}
      >
    </div>
    <br>
    <a href="{% url 'home:index' %}"><button type="button" class="btn btn-primary" formnovalidate>Retourner</button></a>
    <button type="submit" class="btn btn-primary">S'inscrire</button>
  </form>
  <br>

{% if form.errors %}
    {% for field in form %}
        {% for error in field.errors %}
            <div class="alert alert-danger">
                <strong>{{ error|escape }}</strong>
            </div>
        {% endfor %}
    {% endfor %}
    {% for error in form.non_field_errors %}
        <div class="alert alert-danger">
            <strong>{{ error|escape }}</strong>
        </div>
    {% endfor %}
{% endif %}
<br>
{% for message in messages %}
  {% if message.level == DEFAULT_MESSAGE_LEVELS.INFO %}
    <div class="alert alert-danger">{{message|escape}}</div>
  {% endif %}
  {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
    <div class="alert alert-success">{{message|escape}}</div>
  {% endif %}
{% endfor %}
  </div>
  <br>
</div>

{% endblock %}
