{% extends 'home/base.html' %}

{% block body %}

<section>
  <h2>Inscrivez-vous</h2>

  <form action="" method="post">
    {% csrf_token %}
    <div class="form-group">
      <input type="text" class="form-control" name="username" placeholder="Nom d'utilisateur">
    </div>    
    <div class="form-group">
      <input type="password" class="form-control" name="password1" placeholder="Mot de passe">
    </div>
    <div class="form-group">
      <input type="password" class="form-control" name="password2" placeholder="Confirmer votre mot de passe">
    </div>
    <a href="{% url 'home:index' %}"><button type="button" class="btn btn-primary" formnovalidate>Retourner</button></a>
    <button type="submit" class="btn btn-primary">S'inscrire</button>
  </form>
  {% if form.errors %}
    {% for error in form.errors %}
    <p>{{ error }}</p>
    {% endfor %}
    {% for field in form %}
        {% for error in field.errors %}
            <div class="alert alert-danger">
                <strong>{{ error|escape }}</strong>
            </div>
        {% endfor %}
    {% endfor %}
    {% for error in form.non_field_errors %}
        <div class="alert alert-danger">
            <strong>{{ error|escape }}</strong>
        </div>
    {% endfor %}
{% endif %}
  {% for message in messages %}
					<p>{{message}}</p>
				{% endfor %}
</section>

{% endblock %}
